name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
        channel: 'stable'

    - name: Create Project Structure
      run: |
        flutter create . --org com.sweets.manager
        flutter pub get

    # --- هذه هي الخطوة الجديدة لحل المشكلة ---
    - name: Fix Kotlin Duplicates
      run: |
        echo "configurations.all { resolutionStrategy { force 'org.jetbrains.kotlin:kotlin-stdlib:1.9.0', 'org.jetbrains.kotlin:kotlin-stdlib-jdk7:1.9.0', 'org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.9.0' } }" >> android/app/build.gradle

    - name: Build APK
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/app/outputs/flutter-apk/app-release.apk

